:root {
  /***************  root settings  **************/
  /* background */
  --bg-header: #dcd7d7; /* background navbar*/
  --bg-body: #ffffff; /* background body */
  --bg-card: #ffffff; /* background card */
  --bg-main: #4fb3b4; /* background main color for section */
  --bg-sub: #f6f7fb; /* transparent secondary background*/
  --bg-btn-primary: transparent; /* background btn primary*/
  --bg-btn-dark: #3d3d3db2; /* background btn dark*/
  --bg-btn-secondary: transparent; /* background btn secondary*/
  /* colors */
  --color-white: #ffffff; /* color white for text*/
  --color-black: #222; /* color black for text*/
  --color-dark: #3e3e3e; /* color dark for text*/
  --color-primary: #4d4d4d; /* color primary */
  --color-secondary: transparent; /* color secondary */
  /* box shadow  */
  --box-shadow-dep: 1px 1px 18px #c3c3c3, -1px -1px 18px #fdfdfd; /* box shadow for deportment*/
  --box-shadow-btn: 0px 0px 8px var(--color-dark); /* box shadow for button*/
  /* size card  */
  --width-card: 220px; /* width card deportment  */
  --hight-card: auto-fit; /* hight card deportment  */
  --min-hight-card: 215px; /* hight card deportment  */
  --width-dr-content: 180px; /* width dropdown content*/
}
/* Reset styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* Set the font family for the entire body */
body {
  font-family: "Times New Roman", Times, serif !important;
}

/* Remove text decoration from all anchor elements */
a {
  text-decoration-line: none !important;
}

/* Define styles for social media icons with the id 'media' */
#media {
  font-size: 24px;
}

/* Styling for the header image container */
.image-container {
  position: relative;
  height: 270px;
}

/* Styling for the header image */
.header-img {
  height: 270px;
}

/* Overlay styles for the header image */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(112, 184, 184, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animation for borders */
@keyframes borders {
  /* Keyframes for different border styles */
  0% {
    border-bottom: var(--bg-main) solid 3.5px;
  }
  25% {
    border-bottom: var(--bg-main) solid 3.5px;
    border-right: var(--bg-main) solid 3.5px;
  }
  50% {
    border-bottom: var(--bg-main) solid 3.5px;
    border-right: var(--bg-main) solid 3.5px;
    border-left: var(--bg-main) solid 3.5px;
  }
  75% {
    border-bottom: var(--bg-main) solid 3.5px;
    border-right: var(--bg-main) solid 3.5px;
    border-left: var(--bg-main) solid 3.5px;
    border-top: var(--bg-main) solid 3.5px;
  }
  100% {
    border: var(--bg-main) solid 3.5px;
  }
}

/* Styles for department cards */
.department {
  width: var(--width-card) !important;
  height: var(--hight-card) !important;
  background-color: var(--bg-card) !important;
  padding: 7px !important;
  min-height: var(--min-hight-card);
  min-width: fit-content !important;
}

/* Styles for the Subscribe button */
.btn-Subscribe {
  /* Styles for the button and its animation */
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--color-white);
  padding: 0.3em 0.5em;
  font-size: 18px;
  border-radius: 0.5em;
  background: transparent;
  border: 1px solid var(--bg-main);
}

/* Hover state for the Subscribe button */
.btn-Subscribe:hover {
  color: var(--color-white);
  border: 1px solid var(--bg-main);
}

/* Animation for the Subscribe button:before */
.btn-Subscribe:before {
  /* Styles for the button:before element and its animation */
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

/* Animation for the Subscribe button:after */
.btn-Subscribe:after {
  /* Styles for the button:after element and its animation */
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--bg-main);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

/* Hover state for the Subscribe button:before */
.btn-Subscribe:hover:before {
  top: -35%;
  background-color: var(--bg-main);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* Hover state for the Subscribe button:after */
.btn-Subscribe:hover:after {
  top: -45%;
  background-color: var(--bg-main);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* Styling for cards and departments with borders and hover animation */
.card,
.department {
  border: var(--color-primary) solid 3.5px;
  transition: all 3s ease;
}

/* Hover state for cards and departments with animation */
.card:hover,
.department:hover {
  animation: borders 2s ease;
}

/* Styling for department images */
.department img {
  /* width: auto !important;
  height: 125px !important;
  object-fit: cover !important; */
  width: 150px;
  height: 150px;
}

/* Border styles for specific screen width using media query */
#border-form {
  border-left: var(--bg-main) 2px solid;
}

/* Media query for smaller screens */
@media (max-width: 995px) {
  #border-form {
    border-top: var(--bg-main) 2px solid;
    border-left: none;
  }
}

/* Initial styles for hiding elements */
.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Animation to show elements after the effect */
.aos-animate .slide-in-left {
  opacity: 1;
  transform: translateX(0);
}
